# image upload
UPLOADTHING_TOKEN='get from uploadthing dashboard'

# database
DATABASE_URL='get from neon console'

# auth-related variable
BETTER_AUTH_SECRET='random-string'
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID='get from google cloud console'
GOOGLE_CLIENT_SECRET='get from google cloud console'
GITHUB_CLIENT_ID='get from github developer settings'
GITHUB_CLIENT_SECRET='get from github developer settings'
DISCORD_CLIENT_ID='get from discord developer portal'
DISCORD_CLIENT_SECRET='get from discord developer portal'
GITLAB_CLIENT_ID='get from gitlab application settings'
GITLAB_CLIENT_SECRET='get from gitlab application settings'

# embeddings
OPENAI_API_KEY='get from openai platform'